.titulo {
  margin-left: 40%;
}

.topo {
  margin-bottom: 10px;
}

img {
  border-radius: 5px;
  width: 135px;
  height: 122px;
}

.itens {
  border: 2px solid black;
}

.container-lista {
  margin-left: -20px;
}

.text-body-card-list{
  margin-top: 28px;
}

.hr {
  margin-right: 30px;
}

li {
  background-color: #d5d5d5;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: -45px;
  min-width: 50%;
  max-width: 230px;
}

ul {
  list-style-type: none;
}
