<div class="container-fluid" style="padding: 16px">
  <div class="row secao">
    <div class="col-md-4">
      <h3 class="text-left titulo">Transportadoras |</h3>
    </div>
    <div class="col-md-8 text-right">
      <button class="btn btn-success">Cadastrar sua Transportadora</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-left">Transportadoras</h4>
          <p>1234 resultados</p>
        </div>
      </div>
      <hr class="hr" />
      <div class="row">
        <div class="col-md-12">
          <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-10">
                <label for="nome">Nome</label>
                <input type="text" formControlName="nome" class="form-control" id="nome"
                />
              </div>
              <div class="form-group col-md-10">
                <label for="uf">UFs</label>
                <select id="uf" formControlName="uf" class="form-control">
                </select>
              </div>
              <div class="form-group col-md-10">
                <label for="municipio">Município</label>
                <input
                  type="text"
                  formControlName="cidade"
                  class="form-control"
                  id="municipio"
                />
              </div>
              <div class="form-group col-md-10">
                <label for="modal">Modal</label>
                <select id="modal" formControlName="modal" class="form-control">
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-9 container-lista">
      <div class="row itens">
        <div class="col-md-2">
          <img src="/assets/imagens/hive_logo.png" class="img-fluid" />
        </div>

        <div class="col-md-10 text-body-card-list">
          <div class="row">
            <div class="col-md-4">
              <a href="#">Xadrex -Rodoaéreo</a>
            </div>
            <div class="col-md-4">(11) 9635-8965 / (11) 8532-8965</div>
            <div class="col-md-4">
              <i class="fab fa-whatsapp"></i> Fale agora: <a href="#">(11) 8532-8965</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>462.68965.3665.2/23</p>
            </div>
            <div class="col-md-4">qualidade@gmail.com</div>
          </div>
        </div>
      </div>
      <br />
      <div class="row itens">
          <div class="col-md-2">
            <img src="/assets/imagens/hive_logo.png" class="img-fluid" />
          </div>

          <div class="col-md-10 text-body-card-list">
            <div class="row">
              <div class="col-md-4">
                <a href="#">Xadrex -Rodoaéreo</a>
              </div>
              <div class="col-md-4">(11) 9635-8965 / (11) 8532-8965</div>
              <div class="col-md-4">
                <i class="fab fa-whatsapp"></i> Fale agora: <a href="#">(11) 8532-8965</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>462.68965.3665.2/23</p>
              </div>
              <div class="col-md-4">qualidade@gmail.com</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
