<div class="container-fluid" style="padding: 16px">
  <div class="row topo">
    <div class="col-md-4">
      <h3 class="text-left titulo">Transportadoras |</h3>
    </div>
    <div class="col-md-8 text-right">
      <button style="width: 30%" [routerLink]="['/cadastrarTransportadora']" class="btn btn-success">Cadastrar sua
        Transportadora</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-left">Transportadoras</h4>
          <p>{{ resultadosDoFiltro }} resultados</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul>
            <ng-container *ngIf="nomeParaPesquisa">
              <li style="margin-top: 5px;">
                <button type="button" (click)="removerNomeDaPesquisa()" style="margin-top: -2px;" class="close"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button><span>{{ nomeParaPesquisa }}</span>
              </li>
            </ng-container>
            <ng-container *ngIf="municipioParaPesquisa">
              <li style="margin-top: 5px;">
                <button type="button" (click)="removerMunicipioDaPesquisa()" style="margin-top: -2px;" class="close"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button><span>{{ municipioParaPesquisa }}</span>
              </li>
            </ng-container>
            <ng-container *ngFor="let uf of listaUfSelecionadas">
              <li style="margin-top: 5px;">
                <button type="button" (click)="removerUfDoFiltro(uf)" style="margin-top: -2px;" class="close"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button><span>{{ uf.nome }}</span>
              </li>
            </ng-container>
            <ng-container *ngFor="let modal of listaModalSelecionadas">
              <li style="margin-top: 5px;">
                <button type="button" (click)="removerModalDoFiltro(modal)" style="margin-top: -2px;" class="close"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button><span>{{ modal.nome }}</span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <hr class="hr" />
      <div class="row">
        <div class="col-md-12">
          <div class="form-row">
            <div class="form-group col-md-10">
              <h5>Nome</h5>
              <input type="text" (keydown.enter)="pesquisarPorNome($event)" name="nome" class="form-control"
                id="nome" />
            </div>
            <div class="form-group col-md-10">
              <h5>Localização (UFs)</h5>
              <div class="overflow-auto" style="min-height: 120px;">
                <ng-container *ngFor="let uf of dataUFs">
                  <button (click)="selecionarUfParaFiltro(uf)"
                    type="button" class="btn btn-link itens-filtro-uf-modal">{{ uf.nome }} ({{ uf.qtdTransportadoras }})
                  </button><br />
                </ng-container>
              </div>
            </div>
            <div class="form-group col-md-10">
              <h5 style="margin-top: 10px;">Localização (Municípios)</h5>
              <input type="text" (keydown.enter)="pesquisarPorMunicipio($event)" class="form-control" name="municipio" id="municipio" />
            </div>
            <div class="form-group col-md-10">
              <h5>Modal</h5>
              <div>
                <ng-container *ngFor="let modal of dataModals">
                  <button (click)="selecionarModalParaFiltro(modal)"
                    type="button" class="btn btn-link itens-filtro-uf-modal">{{ modal.nome }} ({{ modal.qtdTransportadoras }})
                  </button><br />
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 container-lista">
      <ng-container *ngFor="let transportadora of listaTransportadoras">
        <div class="row itens">
          <div class="col-md-2">
            <img src="/assets/imagens/hive_logo.png" class="img-fluid" />
          </div>

          <div class="col-md-10 text-body-card-list">
            <div class="row">
              <div class="col-md-4">
                <a [routerLink]="['/atualizarTransportadora', transportadora.id]">{{ transportadora.nome }}</a>
              </div>
              <div class="col-md-4">{{ transportadora.telefone | telefone }}
                {{ transportadora.celular ? '/' + (transportadora.celular | telefone) : ''}}
              </div>
              <div class="col-md-4">
                <i class="fab fa-whatsapp"></i> Fale agora:
                <a href="#">{{ transportadora.whatsapp ? (transportadora.whatsapp | telefone) : ''}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>{{ transportadora.cnpj | cnpj }}</p>
              </div>
              <div class="col-md-4">{{ transportadora.email }}</div>
            </div>
          </div>
        </div>
        <br />
      </ng-container>
    </div>
  </div>
</div>
